html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-ui-bottom-left {
  align-items: flex-start;
}

.esri-scale-bar {
  padding: 5px;
}

.esri-popup .esri-popup-header .esri-title {
  font-size: 18px;
  font-weight: bolder;
}

.esri-popup .esri-popup-body .esri-popup-content {
  font-size: 14px;
}

.esri-ui-top-left {
  top: 100;
  left: 500;
}


.esri-icon-erase {
  position: absolute;

  transform: translate(-50%, -50%);
  width: 8px;
  height: 16px;
  display: block;
}

/* color of label toggle button */
.esri-layer-list__item-actions-menu-item:first-of-type {
  color: lightgray;
}

.esri-layer-list__item-actions-menu-item:first-of-type:hover {
  color: #ffffff;
  background-color: transparent;
}

.esri-layer-list__item-actions-menu-item:first-of-type:focus {
  /* outline-color: #ffffff; */
  outline: none;
}

.layer-action-focus {
  color: #ffffff;
}

.layer-action-blur {
  outline: none;
}

#overviewDiv {
  position: absolute;
  bottom: 20px;
  right: 12px;
  width: 225px;
  height: 150px;
  border: 1.5px solid black;
  z-index: 1;
}

#extentDiv {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}

/* set styles for legend */

#legendDiv {
  margin-left: 40px;
  overflow: auto;
}

#layersDiv {
  margin-left: 40px;
  overflow: auto;
}

/* style the layers widget */
#layersDiv li {
  background-color: #0d3b4b;
}

.esri-layer-list__item--invisible-at-scale,
.esri-layer-list__item-title,
.esri-layer-list__item-toggle-icon,
.esri-layer-list__child-toggle {
  color: white !important;
}

.esri-menu .esri-header {
  background-color: #315866
}

.esri-layer-list {
  background-color: #315866;
}

.esri-widget__heading {
  color: white;
}

#layersMenuID {
  display: none;
}

#legendMenuID {
  display: none;
}

#bottombar {
  background: #315866;
  padding: 8px;
}

#expandBar {
  background: #315866;
  padding: 8px;
}


@media only screen and (max-width: 1026px) {
  #overviewDiv {
    display: none;
  }

  #extentDiv {
    display: none;
  }


  #layersMenuID {
    display: flex;
  }

  #legendMenuID {
    display: flex;
  }

  .calcite-title-sub {
    display: none;
  }

  #legendDiv {
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
  }

  #layersDiv {
    margin-left: 0px;
    margin-right: 5px;
    overflow: auto;
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 25px;
}

#searchWidgetDiv-suggest-menu {
  background-color: #0d3b4b;
  color: #f6f8f8;
}

.esri-menu li:hover,
.esri-menu li:focus {
  background-color: #315866;
}

.esri-menu li {
  background-color: #0d3b4b;
  color: #ffffff;
}

.esri-menu,
.esri-header {
  background-color: #315866;
}

.navbar {
  background-color: #0d3b4b
}

.esri-legend__message {
  background-color: #0d3b4b;
  color: #f6f8f8;
}

h3.esri-widget__heading {
  color: white;
}


.esri-legend__service {
  background-color: #0d3b4b;
  color: white;
}

.esri-search .esri-search__container {
  background-color: #0d3b4b;
}

.esri-header {
  background-color: #0d3b4b;
}

.esri-widget__header {
  color: #ffffff;
}

#searchWidgetDiv-suggest-menu:hover {
  background-color: #0d3b4b;
}

.esri-menu:hover .esri-search__suggestions-menu:hover {
  background-color: #0d3b4b;
}

.esri-search__source {
  background-color: #FFFF;
}

#searchWidgetDiv-source-menu {
  background-color: #315866;
}

#clearButton {
  width: 30px;
  height: 30px;
}

#coordButton {
  color: #333333;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.esri-coordinate-conversion__mode-toggle {
  display: none;
}

.esri-coordinate-conversion__heading,
.esri-widget__heading {
  color: #4e4e4e;
}

/*
Print Widget
*/

.esri-print__layout-tab {
  border: 1px solid #617f8a;
  color: #d1d9db;
}

.esri-print__form-section-container {
  color: #ffffff;
}

.esri-print__export-panel-container {
  color: #ffffff;
}

.esri-print__author-info-container {
  color: #000000;
}

.esri-print__copyright-info-container {
  color: #000000;
}

.esri-print__legend-info-container {
  color: #000000;
}

.esri-print__input-text .esri-input {
  color: #000000;
}

.esri-print__form-section-container {
  color: #000000
}

.esri-print__input-text {
  color: #000000
}

.esri-print__advanced-options-container {
  background-color: #315866;
}

.esri-print__scale-info-container {
  color: #ffffff;
}

.esri-print__form-section-container {
  color: #ffffff;
}

/*
Popup Styling
.esri-popup__feature-buttons .esri-popup__actions {
  display: contents;
}

*/

/*
Legend styling
*/

/*
.esri-legend__message {
  display:none;
}
*/
/*
Info Panel
*/
.leader-1 {
  display: flex;
  justify-content: space-around;
}


/*
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(49,88,102,1); 
  background-color:#fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#0d3b4b;
  -webkit-box-shadow: inset 0 0 6px rgba(13,59,75,1); 
}
*/

/*
Change color of link text
*/

.calcite-panels.calcite-text-light a {
  color: #7fc4ff;
}

/*
Bookmark Styles
*/

.bookmark-container {
  position: relative;
  background: #0d3b4b;
  box-sizing: border-box;
}

.esriBookmarks {
  width: 100%;
  position: relative;
}

.esriBookmarkTable {
  border-spacing: 0;
  border-collapse: collapse;
}

.esriBookmarkItem {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid transparent;
  height: 36px;
  cursor: pointer;
}

.esriBookmarkLabel {
  pointer-events: none;
  position: relative;
  float: left;
  overflow: hidden;
  line-height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  user-select: none;
}

.esriBookmarkHighlight {
  background-color: #315866
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.esriAddBookmark {
  color: #ffffff;
}

.esriBookmarkEditBox {
  position: fixed;
  font-size: 14px;
  height: 34px;
  width: 200px;
  z-index: 999;
  padding: 0;
  margin: 0 10px;
  border: 0;
  border-bottom: 1px solid #007ac2;
  background: #fff
}

.esriBookmarkEditBox:focus {
  outline: none
}

.esriBookmarkRemoveImage,
.esriBookmarkEditImage {
  float: right;
  width: 30px;
  cursor: pointer;
  font-family: "CalciteWebCoreIcons";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-indent: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 26px;
  text-align: center;
}

.esriBookmarkItem:before {
  float: left;
  font-family: "CalciteWebCoreIcons";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-indent: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  color: inherit;
  line-height: 26px;
  margin-right: 5px;
}

.esriBookmarkRemoveImage:before {
  content: "\e600";
}

.esriBookmarkEditImage:before {
  content: "\e61b";
}

.esriAddBookmark:before {
  content: "\e620";
}

.esriBookmarkItem:after {
  content: "";
  display: table;
  clear: both;
}

/* Measurement Button CSS rules */

/* Action button configurations*/

.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #D3D3D3;
  color: #D3D3D3;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}